.background {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(57, 1fr);
    width: 700px;
    height: 400px;
    margin: calc(20vh) auto;
}

.snake__head {
    background-color: white;
    grid-column: 50;
    grid-row: 28;
    border-radius: 100%;
}