.background {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 50vw;
    height: 50vh;
    margin: auto auto;
}

.snake__head {
    background-color: white;
    grid-column: 3;
    grid-row: 3;
    border-radius: 100%;
}