body {
    text-align: center;
}

.gameArea {
    margin: calc(20vh) calc(50vw - 350px);
}

.background {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(57, 1fr);
    width: 700px;
    height: 400px;
}

.bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35px;
}

.controles {
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}

.placar {
    margin: 1em 1em 0.5em 1em;
}

.botao {
    background-color: #3f1298;
    color: #fff;
    padding: 0 1em;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
}

#botaoRestart {
    font-size: 16px;
    padding: 0.1em 0 0 0;
    font-weight: 500;
}

.snake__head {
    background-color: white;
    grid-column: 50;
    grid-row: 28;
    border-radius: 100%;
}